@import "tailwindcss";

:root {
  --background: #FAFAFA;
  --foreground: #1E293B;
  --primary: #007F7A;
  --primary-hover: #006662;
  --primary-light: #E6F3F2;
  --secondary: #E65A28;
  --secondary-hover: #CF4E20;
  --secondary-light: #FDF1ED;
  --neutral-border: #E2E8F0;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Cores Corporativas */
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-primary-light: var(--primary-light);

  --color-secondary: var(--secondary);
  --color-secondary-hover: var(--secondary-hover);
  --color-secondary-light: var(--secondary-light);

  --color-neutral-bg: var(--background);
  --color-neutral-text: var(--foreground);
  --color-neutral-border: var(--neutral-border);

  /* Tipografia */
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
}

body {
  background-color: var(--color-neutral-bg);
  color: var(--color-neutral-text);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
